/* Colors */
:root {
  --grey: rgb(60, 58, 58);
  --light-grey: rgba(60, 58, 58, 0.5);
  --white: white;
  --pink: #f19295;
}

/* Fonts */
h1 {
  margin: 40px 40px;
  font-size: 3.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-align: initial;
  color: rgb(60, 58, 58);
}

p {
  margin: 40px 40px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: initial;
  color: rgb(60, 58, 58);
}

/* Button */
.button-dark {
  background-color: var(--grey);
  color: var(--white);
  width: max-content;
  border-radius: 50px;
  margin: 5px;
  padding: 8px 20px;
  border: none;
  border: 1px solid var(--white);
  cursor: pointer;
}

.button-dark:hover {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--light-grey);
}

.button-light {
  background-color: var(--white);
  width: max-content;
  color: var(--grey);
  border-radius: 50px;
  margin: 5px;
  padding: 8px 20px;
  border: 1px solid var(--light-grey);
  cursor: pointer;
}

.button-light:hover {
  background-color: var(--grey);
  color: var(--white);
  border: 1px solid var(--white);
}

.button-navbar {
  background-color: var(--white);
  font-family: "Quicksand", sans-serif;
  color: var(--grey);
  border: none;
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 400;
  text-align: initial;
}

.button-navbar:hover {
  background-color: var(--light-grey);
  color: var(--white);
  border-radius: 50px;
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
