/* Colors */
:root {
  --grey: rgb(60, 58, 58);
  --light-grey: rgba(60, 58, 58, 0.5);
  --white: white;
  --pink: #f19295;
}

/* Fonts */
h1 {
  font-size: 3.5rem;
  margin: 40px 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-align: initial;
  color: var(--grey);
}

h1 .line {
  display: block; /* Cada linha é um bloco */
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}
h1 .line:nth-child(1) {
  animation-delay: 0.5s;
}
h1 .line:nth-child(2) {
  animation-delay: 1s;
}
h1 .line:nth-child(3) {
  animation-delay: 1.5s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes grow {
  from {
    transform: scale(0.7); /* Inicia a imagem totalmente reduzida */
    opacity: 0; /* Inicia a imagem totalmente transparente */
  }
  to {
    transform: scale(1); /* Escala normal da imagem */
    opacity: 1; /* Imagem totalmente opaca */
  }
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  color: var(--white);
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: initial;
  color: var(--grey);
}

/* Button */
.button-dark {
  background-color: var(--grey);
  font-size: 1.1rem;
  color: var(--white);
  width: max-content;
  border-radius: 50px;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border: 1px solid var(--white);
  cursor: pointer;
  animation: fadeInRight 3s ease forwards;
}

.button-dark:hover {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--light-grey);
}

.button-light {
  background-color: var(--white);
  font-size: 1.1rem;
  width: max-content;
  color: var(--grey);
  border-radius: 50px;
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid var(--light-grey);
  cursor: pointer;
  animation: fadeInRight 3s ease forwards;
}

.button-light:hover {
  background-color: var(--grey);
  color: var(--white);
  border: 1px solid var(--white);
}

.button-navbar {
  background-color: var(--white);
  font-family: "Quicksand", sans-serif;
  color: var(--grey);
  border: none;
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: initial;
}

.button-navbar:hover {
  background-color: var(--light-grey);
  color: var(--white);
  border-radius: 50px;
}

.arrow-buttom {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  height: auto;
}

.arrow {
  width: 50px;
  height: 50px;
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
