.body {
  display: flex;
  justify-content: center;
  margin: 100px 30px 30px;
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #title {
    font-size: 3rem;
    margin: 20px;
  }
  .card {
    cursor: pointer;
    background-color: var(--white);
    border: none;
  }
  .art-card {
    opacity: 0;
    width: 400px;
    height: 400px;
    margin: 5px;
    border-radius: 30px;
  }
  &.in-view {
    opacity: 1;
    transform: scale(1);
    .styled-art-card {
      animation: fadeInUp 3s ease forwards;
    }
    .info {
      animation: fadeInUp 3s ease forwards;
    }
  }
}
.styled-art-card {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  opacity: 0;
  transform: scale(0);
}
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  animation: fadeIn 1s ease forwards;
  &.modal-active {
    display: block;
  }
  &.modal-disapearing {
    animation: fadeOut 1s ease-out forwards;
  }
  .modal-content {
    position: absolute;
    flex-direction: column;
    align-items: end;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: 20px;
    display: flex;
    button {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      border-radius: 50%;
      border: none;
      padding: 10px;
      align-items: center;
      margin: 10px;
      width: 40px;
      height: 40px;
    }
  }
  img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
