.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #title {
    font-size: 3rem;
    margin: 10px 80px;
  }
  .navbar {
  }

  &.in-view {
    opacity: 1;
    transform: scale(1);

    .top {
      animation: fadeInUp 3s ease forwards;
    }

    .description {
      animation: fadeInUp 3s ease forwards;
    }

    .card-container {
      animation: fadeInUp 3s ease forwards;
    }
  }

  .description-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .description {
      display: flex;
      flex-direction: column;

      p {
        margin: 0px;
      }
    }
  }

  .card-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;

    .blog-card {
      // width: 100%;
      width: 400px;
      height: 200px;
      margin: 5px;
      border-radius: 30px;
      transition: width 1s ease, height 1s ease, margin-top 1s ease,
        transform 1s ease;
      position: relative;
    }

    .blog-card-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 0.5em;
      border-radius: 5px;
    }

    .images-left .images-right {
      margin: 0px;
    }

    .active {
      width: 400px;
      height: auto;
      margin-top: 20px;
      transform: scale(1.05);
    }

    .card-hovered {
      margin-top: 20px;
    }
  }
}
